.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  padding: 36px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: center;

  width: 100%;
}
