.myPacksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.backToList {
  display: flex;
  align-items: baseline;
  width: 100%;
  text-decoration: none;
}

.myPackHeading {
  display: flex;

  //flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 12px;
}

.dropDown {
  display: flex;
}

.dropDown button {
  display: flex;
  align-items: center;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  margin-top: 24px;
}

.tableRow {
  width: 100%;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 10%;
}

@media (width >=1440px) {
  .myPacksWrapper {
    width: 100%;
    padding: 0 140px;
  }
}

@media (width >=2140px) {
  .myPacksWrapper {
    max-width: 2140px;
  }
}

.RatingCell {
  cursor: default;
}
