.tableRoot {
  overflow-x: auto;
  border-spacing: 1px;
  border-collapse: collapse;

  margin: 0;
  padding: 0;

  border-right: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
}

.headCell {
  padding: 6px 24px;
  background-color: var(--color-dark-500);
}

.cell {
  width: 100%;
}

.row {
  text-align: center;
  border-bottom: 1px solid var(--color-dark-500);
  transition: all 0.3s;
}

.row:hover {
  background-color: var(--color-dark-100);
}

.cell:not(last-chilrd) {
  border-right: 1px solid var(--color-dark-500);
}
