.headCell {
  width: 10%;
  padding: 6px 24px;
  background-color: var(--color-dark-500);
}

.pointer {
  cursor: pointer;
}

.row {
  text-align: left;
  transition: all 0.3s;
}

.cell {
  padding-left: 25px;
  border-bottom: 1px solid var(--color-dark-500);
}

.cell:last-child {
  cursor: pointer;
}

.tableRoot {
  border-collapse: collapse;
  width: 100%;
}

.head :hover {
  border: none;
}
