.div {
  margin: 0;
}

.forgotPasswordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;

  margin-top: 60px;
  padding: 36px;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 51px;
}

.textWrapper {
  margin-top: 19px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 65px;
}

.buttonTextWrapper {
  margin-top: 20px;
}

.buttonLinkWrapper {
  margin-top: 11px;
}
