.paginationWrapper {
  display: flex;
  gap: 10px;
  align-items: center;

  width: max-content;

  list-style-type: none;

  .pagination__item {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: auto 4px;

    font-size: var(--font-size-s);
    line-height: var(--line-height-m);
    color: var(--color-light-100);
    letter-spacing: 0.01071em;

    border-radius: 2px;

    &.dots:hover {
      cursor: default;
      background-color: transparent;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-300);
    }

    &.selected {
      color: var(--color-dark-900);
      background-color: var(--color-light-100);
    }

    &:focus {
      background-color: var(--color-dark-900);
      border: 2px solid var(--color-info-900);
      border-radius: 2px;
    }

    .arrow {
      &::before {
        /* top: 3pt; Uncomment this to lower the icons as requested in comments */
        content: '';

        position: relative;

        /* By using an em scale, the arrows will size with the font */
        display: inline-block;

        width: 0.4em;
        height: 0.4em;

        border-top: 0.12em solid rgb(0 0 0 / 87%);
        border-right: 0.12em solid rgb(0 0 0 / 87%);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;

      .arrow::before {
        border-top: 0.12em solid rgb(0 0 0 / 43%);
        border-right: 0.12em solid rgb(0 0 0 / 43%);
      }

      &:hover {
        cursor: default;
        background-color: transparent;
      }
    }
  }
}
