.large {
  margin: 0;

  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  color: var(--color-dark-900);
}

.h1 {
  margin: 0;

  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  color: var(--color-dark-900);
}

.h2 {
  margin: 0;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.h3 {
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.body1 {
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.body2 {
  margin: 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.subtitle1 {
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.subtitle2 {
  margin: 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.caption {
  margin: 0;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-900);
}

.overline {
  margin: 0;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-s);
  color: var(--color-dark-900);
}

.link1 {
  margin: 0;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-info-500);
}

.link2 {
  margin: 0;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  color: var(--color-info-500);
}

.error {
  margin: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
  color: var(--color-danger-500);
}

.Input {
  color: var(--color-dark-100);
}