.packlistWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.packlistSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: flex-end;
  justify-content: space-between;
}

@media (width >= 1440px) {
  .packlistWrapper {
    width: 100%;
    padding: 0 140px;
  }

  .packlistSection {
    width: 100%;
  }

  .filterWrapper {
    width: 100%;
  }
}

@media (width >= 2140px) {
  .packlistWrapper {
    max-width: 2140px;
  }
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 10%;
}
