.packlistWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.packlistSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

.tableWrapper {
  width: 100%;
}
