.form {
  width: 100%;

  .input {
    margin-bottom: 2.25rem;
  }
}

.editProfileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 33px 36px 84px;
}

.title {
  margin-bottom: 27px;
}

.photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;

  > div {
    position: relative;

    > img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
    }

    > .editAvatarButton {
      all: unset;

      cursor: pointer;

      position: absolute;
      right: 0;
      bottom: 0;

      width: 32px;
      height: 32px;

      &:focus-visible {
        outline: var(--outline-focus);
      }
    }
  }
}

.edit {
  cursor: pointer;

  position: absolute;
  right: 0;

  display: flex;

  width: 24px;
  height: 24px;
  padding: 6px;

  background: #4c4c4c;
  border-radius: 5px;
}

//.photoContainer {
//  display: flex;
//  justify-content: center;
//  width: 100%;
//  margin-bottom: 6px;
//
//  > div {
//    position: relative;
//
//    > img {
//      width: 96px;
//      height: 96px;
//      object-fit: cover;
//      border-radius: 50%;
//    }
//
//    > .editAvatarButton {
//      all: unset;
//
//      cursor: pointer;
//
//      position: absolute;
//      right: 0;
//      bottom: 0;
//
//      width: 32px;
//      height: 32px;
//
//      &:focus-visible {
//        outline: var(--outline-focus);
//      }
//    }
//  }
//}

.nameContainer {
  display: flex;
  gap: 0.56rem;
  align-items: center;
  justify-content: center;

  > p {
    color: #fff;
  }
}

.emailPersonal {
  margin-bottom: 0.81rem;
  color: var(--dark-100, #808080);
  text-align: center;
}

.logout {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
