.form {
  width: 100%;
}

.editProfileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 33px 36px 84px;
}

.photoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 6px;

  > div {
    position: relative;

    > img {
      width: 96px;
      height: 96px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.edit {
  cursor: pointer;

  position: absolute;
  top: 72px;
  right: 0;

  display: flex;

  width: 24px;
  height: 24px;
  padding: 6px;

  background: #4c4c4c;
  border-radius: 5px;
}
